@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",serif;
}

body {
    background-color: #D9EAFD;
    color: #222;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #9AA6B2;
    color: #F8FAFC;
    flex: 0 0 100%;
}

.logo {
    font-weight: bold;
    font-size: 48px;
}

.links {
    display: flex;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #F8FAFC;
    cursor: pointer;
    font-size: 20px;
}

.welcome-section {
    background-color: #BCCCDC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex: 0 0 400px;
}

.welcome-img {
    width: 500px;
    height: auto;
    flex-shrink: 0;
}

.welcome-text {
    flex: 1;
    max-width: 500px;
    font-size: 20px;
}

.welcome-text-title {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    margin-top: 20px;
    padding: 8px 16px;
    border: none;
    background-color: #7E99A3;
    border-radius: 20px;
    font-size: 20px;
    color: #F8FAFC;
}

.historic-monuments-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 0 0 400px;
}


.historic-monuments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.historic-monuments-img {
    height: 200px;
    width: auto;
    border:2px solid #9AA6B2;
}

.historic-monuments-text {
    text-align: center;
}

.historic-monuments-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.quote-section {
    background-color: #BCCCDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
}

.quote-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px;
}

.quote-font {
    font-family: "Playwrite AU SA", serif;
}

.quote-message {
    font-style: italic;
    font-size: 36px;
    color: #F8FAFC;
}

.quote-author {
    align-self: flex-end;
    font-size: 24px;
}

.signup-section {
    flex: 0 0 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background-color: #7E99A3;
    max-width: 800px;
    padding: 50px 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.signup-title {
    font-weight: bold;
    font-size: 35px;
    color: #F8FAFC;
    margin-bottom: 12px;
}

.signup-message {
    font-size: 20px;
    color: #F8FAFC;
}


.signup-container button {
    border: 2px solid #F8FAFC;
}

.footer {
    background-color: #9AA6B2;
    padding: 10px;
    color: #F8FAFC;
    display: flex;
    justify-content: center;
}